*.aux
*.bbl
*.glo
*.idx
*.ist
*.log
*.pdf
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls
*.glg
*.glsdefs
*.ilg
*.ind
*.gls
*.blg
*.lol
*.out
*.acn
*.acr
*.alg
*.bcf
*.run.xml
*.lot
*.bcf-SAVE-ERROR
*.lof

# for Macs
.DS_Store